---
import Layout from "../layouts/Layout.astro";
import InstagramIcon from "../icons/Instagram.astro";
import LitmindIcon from "../icons/Litmind.astro";
import TwitterIcon from "../icons/Twitter.astro";
---

<Layout title="Ruban Roy">
  <main>
    <div class="wrapper">
      <section>
        <div class="singleImageBg">
          <div class="imageContainer"></div>
        </div>

        <div class="pbElements pbInfo">
          <h1 class="header">About</h1>
          <div class="longText">
            Ruban Roy is a freelance model, based in Vancouver. As a freelance
            model he works with brands, photographers, and fine artists. He has
            a global presence including social media, movies, magazines. Ruban
            sees modeling as a creative arts form of expression, It ignites the
            fire in him to be versatile. By Creating a sense of brand through
            versatile nature made him influence others and attract different
            ventures to be an actor, runway model, influencer and an ambassador.
          </div>
          <div class="socialMedia">
            <div class="icon">
              <a
                href="https://www.instagram.com/ima_peace_maker/"
                target="_blank"><InstagramIcon /></a
              >
            </div>
            <div class="icon">
              <a href="https://litmind.com/imapeacemaker/" target="_blank"
                ><LitmindIcon /></a
              >
            </div>
            <div class="icon">
              <a href="https://twitter.com/ima_peacemaker/" target="_blank"
                ><TwitterIcon /></a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  main,
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  section {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    min-height: 75vh;

    display: flex;
    flex-direction: row;

    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media only screen and (max-width: 999px) {
    section {
      display: block;
      background-attachment: scroll!important;
    }
  }

  .singleImageBg {
    background-attachment: initial;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    width: 50vw;
    align-self: auto;
    overflow: hidden;
  }

  @media only screen and (max-width: 999px) {
    .singleImageBg {
      width: 100% !important;
      min-height: 50vh;
    }
  }

  .imageContainer {
    background-image: url(/homeImg.JPG);
    width: 100%;
    height: 110%;
    background-attachment: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    background-position-y: inherit;
    background-position-x: inherit;
  }

  @media only screen and (max-width: 999px) {
    .imageContainer {
      min-height: 50vh;
      height: inherit!important;
      background-attachment: scroll !important;
    }
  }

  
  .pbInfo {
    width: 50vw;
    height: 100%;
    padding: 7vh 7vw;
    justify-content: center;
    align-self: center;
  }

  .header {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0.7em;
  }

  .longText {
    margin-bottom: 1.1em;
    width: 100%;
    line-height: 1.8em;
  }
</style>
