---
import ImageColumn from "../components/ImageColumn.astro";
import Layout from "../layouts/Layout.astro";
const images = await Astro.glob("../Images/*").then((files) => {
  return files.map((file) => file.default);
});

function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}

// Shuffle the images array
const shuffledImages = shuffleArray(images);

// Split the shuffled array into three parts
const column1 = shuffledImages.slice(0, Math.ceil(shuffledImages.length / 3));
const column2 = shuffledImages.slice(
  Math.ceil(shuffledImages.length / 3),
  Math.ceil((2 * shuffledImages.length) / 3)
);
const column3 = shuffledImages.slice(
  Math.ceil((2 * shuffledImages.length) / 3)
);
---

<Layout title="Work - Ruban Roy">
  <div class="galleryContainer">
    <ImageColumn imagesGallery={column1} firstImage="/gallery1Img.jpeg" />
    <ImageColumn imagesGallery={column2} firstImage="/gallery2Img.jpg" />
    <ImageColumn imagesGallery={column3} firstImage="/gallery3Img.JPG" />
  </div>
</Layout>
<style is:global>
  .galleryContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
/* 
  .galleryContainer > .column:first-child {
      margin-left: 5px;
    } */



  /* .galleryContainer {
    display: flex;
    
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    align-items: flex-start;
   
    justify-content: center;
    text-align: center;
    margin-top: 10px !important;
  } */

  /* @media only screen and (max-width: 1180px) {
   .galleryContainer{
    flex-direction: column;
   } 
    .galleryContainer > .container:nth-child(3) {
      width: 100%;
    }
  } */

  /* @media only screen and (max-width: 1100px) {
    .galleryContainer {
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 800px) {
    .galleryContainer {
      flex-direction: column;
      align-items: center;
    }
  } */
</style>
