<footer>
  <div class="divider"></div>
  <span>Philippians 4:13</span>
</footer>
<style>
  footer {
    text-align: center;
    font-size: 0.9em;
    font-family: "Merriweather", serif;
    margin: 1em 0px 0px;
  }
  .divider {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

</style>
