<footer>
  <span>Philippians 4:13</span>
</footer>
<style>
  footer {
    text-align: center;
    font-size: 0.9em;
    font-family: "Merriweather", serif;
    color: #6c6262;
    margin: 1em 0px 0px;
  }
  </style>
