<nav>
    <div class="pb-elements"><h1 class="logo"><a href='/' class='logo-content' target>Ruban Roy</a></h1></div>
    <div class="pb-elements"><h1 class="logo-header">Model</h1></div>
    <div class="menu-header">
        <div><a href='/work/'>Work</a></div>
        <div><a href='/book/'>Book</a></div>
        <div><a href='/about/'>About</a></div>
    </div>
</nav>
<style>
    nav{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }

    .logo{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 3em;
    }

    .logo-content{
    display: block;
    color: inherit;
    text-decoration: inherit;
    }

    .logo-header{
    margin-top: 0.2em;
    margin-bottom: 0px;
    }
</style>